# Assesment for Final Project - Classification

<B> Problem Statement: </B>

We would like to create a machine learning model that can predict loan default.

In [1]:
# import all required libraries
import pandas as pd
import os

## About Data

The dataset is from the UCI Machine Learning Repository. https://archive.ics.uci.edu/ml/datasets/South+German+Credit+%28UPDATE%29


The dataset contains the following features:

Age - Age of the patient at the time of the test

Gender - Gender of the patient

Polyuria - Excessive Urine Production - Yes or No

Polydipsia - Excessive or abnormal thirst - Yes or No

sudden weight loss - Yes or No

weakness - Yes or No

Polyphagia - Eating excessive amounts of food - Yes or No

Genital thrush - Common infection caused by an overgrowth of the yeast Candida albicans - Yes or No

visual blurring - Lack of sharpness of vision with, as a result, the inability to see fine details - Yes or No

Itching - Yes or No

Irritability - The quality or state of being irritable. - Yes or No

delayed healing - Delayed wound healing means that the wound has trouble healing or staying closed. - Yes or No

partial paresis - a condition of muscular weakness caused by nerve damage or disease - Yes or No

muscle stiffness - muscles feel tight and you find it more difficult to move than you usually do - Yes or No

Alopecia - Hair loss , Yes or No

Obesity - Person obese, Yes or No

class - Target variable ( Positive or Negative )

In [5]:
os.chdir('data')
# read csv file seperated by space
df = pd.read_csv('SouthGermanCredit.asc', sep=' ')
df.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

In [3]:
df

    laufkont laufzeit moral verw hoehe sparkont beszeit rate famges buerge wohnzeit verm alter weitkred wohn bishkred beruf pers telef gastarb kredit
0       1 18 4 2 1049 1 2 4 2 1 4 2 21 3 1 1 3 2 1 2 1
1        1 9 4 0 2799 1 3 2 3 1 2 1 36 3 1 2 3 1 1 2 1
2        2 12 2 9 841 2 4 2 2 1 4 1 23 3 1 1 2 2 1 2 1
3       1 12 4 0 2122 1 3 3 3 1 2 1 39 3 1 2 2 1 1 1 1
4       1 12 4 0 2171 1 3 4 3 1 4 2 38 1 2 2 2 2 1 1 1
..                                                 ...
995     1 24 2 3 1987 1 3 2 3 1 4 1 21 3 1 1 2 1 1 2 0
996     1 24 2 0 2303 1 5 4 3 2 1 1 45 3 2 1 3 2 1 2 0
997    4 21 4 0 12680 5 5 4 3 1 4 4 30 3 3 1 4 2 2 2 0
998     2 12 2 3 6468 5 1 2 3 1 1 4 52 3 2 1 4 2 2 2 0
999     1 30 2 2 6350 5 5 4 3 1 4 2 31 3 2 1 3 2 1 2 0

[1000 rows x 1 columns]